header  {
    background-color: black;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 130px;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

}
header img{
    height: 130px;
    margin-left: 40px;  
}
header nav {
    margin-left: auto;
    margin-right: 50px;
}

a {
    color: #e8e80b;
}