header  {
    background-color: black;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 130px;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

}
header img{
    height: 130px;
    margin-left: 40px;  
}
header nav {
    margin-left: auto;
    margin-right: 50px;
}

nav{
    display: flex;  
    align-items: center;
    gap: 60px;
    margin: 0;
}
#botao {
    color: #FFD700;
    border-radius: 10px;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    word-spacing: 5px;
    font-size: 120%;
    background: none;
    border: none;
    transition: color 0.3s, transform 0.3s;
}
#botao:hover {
    color: #FFD700;
    transform: scale(1.1);
}